[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-ratelimiter = "*"
tqdm = "*"
jsonschema = "*"
json5 = "*"
pyunionfind = "*"
scikit-learn = "*"
pybktree = "*"
python-levenshtein = "*"
jsonsubschema = "*"
#fasttext = "*"
validators = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
